html, body{
    height: 100%;
}
section{
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  13% 80% 7%;
    background-color: antiquewhite;
    margin:0;
    padding:0;
}

section > *{
    border: 2px solid blue;
}


header{
    grid-column: span 12;
}

main{
    grid-column: span 12;
}

footer{
    grid-column: span 12;
}

